body{
	margin: 0;
	background: #F2F4F8;
	overflow-x: hidden;
	font-family: sans-serif;
}
.header{
	width: 100vw;
	height: 50px;
	background: transparent; /* #43db9e;*/

	position: fixed;
	top: 0;
	left: 0;

	z-index: 1000;

	display: grid;
	grid-template-columns: 100px 1fr 20px;
	overflow: hidden;
	align-content: center;

}
.logo{
	width: 80px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
	background: #3eb6d1;
}
.logo img{
	width: 40px;
	height: 40px;
}
.redes-sociales span{
	
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 5%;
}
.categorias{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	fill: white;
}
.categorias svg{
	cursor: pointer;
	margin: 0 15px;
	fill: white;
}
.redes-sociales{

	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	

}
.red-social{
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin: 0px 10px;
}
.red-social img{
	width: 100%;
}
.main-image{
	background-color:#3eb6d1; /*#43db9e;*/
	height: 400px;
	width: 100vw;
	box-shadow: 1px 1px 1px 2px rgba(70, 70, 70, .4);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 0 20px;
}
.container{
	display: grid;
	width: 100vw;
	overflow-y: auto;
	grid-template-columns: 300px 1fr 300px;
	grid-template-rows: 1fr;
	grid-area: "left central right";
	justify-content: center;
	overflow-x: hidden;
	
}
.left{
	grid-area: "left";
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	align-content: center;
	align-items: center;
	padding-top: 50px;

}
.central{
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
	grid-area: "central";
}
.right{
	grid-area: "right";
	background-color: rgba(0,0,0,0.1);
}
.active-category, .category-item{
	cursor: pointer;

}
.active-category{
	height: 200px;
	width: 200px;
	border-radius: 20px;
	
	box-shadow: 0px 0px 0px 1px rgba(70, 70, 70, .2);
	margin-top: 10px;
}
.category-item{
	height: 50px;
	width: 200px;
	border-radius: 10px;
	
	box-shadow: 0px 0px 0px 1px rgba(70, 70, 70, .2);
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.post{
	background-color: white;
	width: 550px;
	height: auto;
	border: 1px solid #cecece;
	display: grid;
	margin-top: 15px;
	grid-template-rows: 40px auto 687.5px auto;

	justify-items:center;

}
.post .information{
	box-shadow: 0px 0px 0px .1px rgba(70, 70, 70, .4);
	height: 40px;
	width: 100%;
	display: grid;
	color: rgba(0, 0, 0, 0.3);
	grid-template-columns: 200px 1fr 100px;
	align-content: center;

}
.information .date{
	padding: 5px;
	text-transform: uppercase;
	font-size: 14px;
}
.information .category{
	display: flex;
	align-items: center;
}
.category .category-name{
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
}
.title{
	height: auto;
	display: block;
	width: 100%;
	
	
}
.title h3{
	color: #263238;
	width: 90%;
	height: 100%;
	font-size: 1.5em;
	font-weight: 100;
	margin: 15px 0;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
	
}
.post .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.post .share{
	width: 100%;
	display: flex;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	position: relative;

}
.share-list{
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	position: absolute;
	top: -125px;
	left: 25px;
	z-index: 100;
	box-shadow: 0px 0px 0px;
	visibility: hidden; 
}
.share-list ul{
	padding: 10px;
	margin: 0;
}
.share-list ul a{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);

}
.share-list ul li{
	text-decoration: none;
	list-style: none;
	margin: 10px;
}
.visible{
	visibility: visible;	
}

.post .share p {

	width: 100%;
	height: 100%;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer{
	background-color: rgba(30,30,30,0.9); /*#3eb6d1;*/
	height: 70px;
	width: 100vw;
}
@media screen and (max-width: 1100px){
	.container{
		display: grid;
		width: 100vw;
		overflow-y: auto;
		grid-template-columns: 300px 1fr;
		grid-template-rows: 1fr;
		grid-area: "left central";
		justify-content: center;
		
	}
	.central{
		padding-left : 0;
		padding-right: 0;
	}
	.post{
		background-color: white;
		width: 550px;
		height: auto;
		border: 1px solid #cecece;
		display: grid;
		margin-top: 15px;
		grid-template-rows: 40px auto 500px auto;

		justify-items:center;

	}
}

@media screen and (max-width: 770px){
	.container{
		display: grid;
		width: auto;
		overflow-y: auto;
		grid-template-columns: auto;
		grid-template-rows: 1fr;
		grid-area: "central";
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	.post{
		
		width: 100vw;
		
	}	
	.left{
		grid-area: "left";
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-top: 0px;
	}
	#left{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.central{
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;
	}
	.active-category{
		height: 50px;
		width: 50px;
		border-radius: 10px;
		background-color: white;
		box-shadow: 0px 0px 0px 1px rgba(70, 70, 70, .4);
		margin-top: 20px;
		margin-right: 10px;

	}
	.category-item{
		height: 50px;
		width: 50px;
		border-radius: 10px;
		background-color: white;
		box-shadow: 0px 0px 0px 1px rgba(70, 70, 70, .4);
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}
}